@use "../custom" as *;
@use "../components/mixins" as *;

.btn-rounded {
    &.intro-button{
        @include media-breakpoint-down(lg) {
            display: block !important;
            margin-bottom: 10px;
        }
    }
    @include media-breakpoint-down(lg) {
        display: none;
    }
    @include media-breakpoint-down(xl) {
        padding: 0.65rem 2rem 0.65rem 0rem;
        width: 170px;
    }
    position: relative;
    padding: 0.75rem 4.5rem 0.75rem 1.5rem;
    font-weight: 700;
    margin: 0;
    border: 0.1rem solid rgba($white,0.6);
    background-color: $white;
    transition: all 0.5s linear;

    span {
        @include media-breakpoint-down(xl) {
            width: 2rem;
            height: 2rem;
            top: 50%;
            right: 8px;
        }
        position: absolute;
        background-color: $primary;
        width: 2.5rem;
        height: 2.5rem;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        border-radius: 50%;

        i {
            @include media-breakpoint-down(xl) {
                font-size: .8rem;
                line-height: 2.1rem;
            }
            color: $white;
            font-size: 1rem;
            line-height: 2.5rem;
        }

    }

    &:hover {
        @include gradient;
        color: $white;

        span {
            background-color: rgba($black,0.6);
        }
    }

    
}