@use "../custom" as *;

.display-2 {
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-family: $poppins;


    &--intro {
        display: inline-block;
        font-weight: 700;
        font-family: $poppins;
     
        @include media-breakpoint-down(xl) {
            font-size: 3.5rem;
        }
        @include media-breakpoint-down(lg) {
            font-size: 2.5rem;
        }
        
    }


    &--description {
        font-size: 1rem;
        display: block;
        margin: 1.2rem 0;
        text-transform: none;

        @include media-breakpoint-up(xl) {
            font-size: 1.5rem;
            display: inline-block;
        }
    }
}